[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "dependencies/glfont"]
	path = dependencies/glfont
	url = https://github.com/jtberglund/GLFont
